.logo
    height: 50px

.asadito
    &-navbar
        background-color: $main-bg-color !important

.no-asados
    @extend .d-flex 
    @extend .align-content-center 
    @extend .flex-wrap
    height: calc(100vh - 60px)
    div
        width: 100%
        h3, p
            text-align: center