.logo
    height: 50px

.asadito
    &-navbar
        background-color: $main-bg-color !important

.asados-container
    height: calc(100vh - 60px)
    flex-direction: column
    @extend .d-flex 
    >div
        @extend .d-flex
        flex-direction: column
        justify-content: center
    .no-asados
        flex: 1
        div
            width: 100%
            h3, p
                text-align: center
    .fs
        flex: 1
        justify-content: normal

    .botonera
        height: 120px
        background-color: $main-bg-color
        
.asados-form
    @extend .p-3

.asados-list
    list-style: none
    margin: 0
    padding: 0
    .asado-element
        border-bottom: 1px solid #efefef
        @extend .p-3

        @extend .d-flex
        flex-direction: row
        .steak-icon
            float: left
            width: 50px
            @extend .d-flex
            @extend .p-1
            @extend .mr-3
        &-content
            @extend .d-flex
            flex: 1

            flex-direction: column
            justify-content: center
            > *
                @extend .d-flex
        h2
            font-size: 20px
            margin-bottom: 0
        h3
            font-size: 16px
        
        &-delete
            
.shopping-list
    .form
        .form-group
            @extend .d-flex
            input[name="name"],
            input[name="price"]
                @extend .mr-2
    h4
        font-size: 16px
    ul
        list-style: none
        padding: 0
        @extend .mb-3
        li
            @extend .d-flex
            @extend .pl-2
            @extend .pr-0
            @extend .pt-2
            @extend .pb-2
            @extend .border
            @extend .border-dark

            div, button
                // @extend .d-flex
                flex-direction: row
            div
                flex: 1
                line-height: 1.2rem
                align-self: center
                font-size: 18px
            button
                border: 0
                @extend .d-flex

            .price
                text-align: right
                font-weight: bold

    .total
        @extend .mb-5
        .total-label
            font-size: 18px
        .total-nr
            float: right
            font-size: 24px
            font-weight: bold
            &::before
                content: "$"
        .total-divided
            clear: both
            display: block
            width: 100%
            span
                float: right